In [41]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [42]:
data=pd.read_csv('insurance.csv')

In [43]:
print(data)

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [44]:
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [45]:
data=data.drop_duplicates()

In [46]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [47]:
data.describe()

               age          bmi     children       charges
count  1337.000000  1337.000000  1337.000000   1337.000000
mean     39.222139    30.663452     1.095737  13279.121487
std      14.044333     6.100468     1.205571  12110.359656
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.290000     0.000000   4746.344000
50%      39.000000    30.400000     1.000000   9386.161300
75%      51.000000    34.700000     2.000000  16657.717450
max      64.000000    53.130000     5.000000  63770.428010

In [48]:
data = pd.get_dummies(data, columns = ['sex', 'region','smoker'], drop_first = True)

In [49]:
data.head()

,age,bmi,children,charges,sex_male,region_northwest,region_southeast,region_southwest,smoker_yes
0,19,27.900,0,16884.92400,False,False,False,True,True
1,18,33.770,1,1725.55230,True,False,True,False,False
2,28,33.000,3,4449.46200,True,False,True,False,False
3,33,22.705,0,21984.47061,True,True,False,False,False
4,32,28.880,0,3866.85520,True,True,False,False,False

In [50]:
data['sex_male']=data['sex_male'].astype(int)
data['region_southeast'] = data['region_southeast'].astype(int)
data['region_northwest'] = data['region_northwest'].astype(int)
data['region_southwest'] = data['region_southwest'].astype(int)
data['smoker_yes'] = data['smoker_yes'].astype(int)

In [51]:
data.head()

,age,bmi,children,charges,sex_male,region_northwest,region_southeast,region_southwest,smoker_yes
0,19,27.900,0,16884.92400,0,0,0,1,1
1,18,33.770,1,1725.55230,1,0,1,0,0
2,28,33.000,3,4449.46200,1,0,1,0,0
3,33,22.705,0,21984.47061,1,1,0,0,0
4,32,28.880,0,3866.85520,1,1,0,0,0

In [52]:
#normalizing the data
# data['charges']=((data['charges']-data['charges'].mean())/data['charges'].std())
# data['bmi']=((data['bmi']-data['bmi'].mean())/data['bmi'].std())
data.head()

,age,bmi,children,charges,sex_male,region_northwest,region_southeast,region_southwest,smoker_yes
0,19,27.900,0,16884.92400,0,0,0,1,1
1,18,33.770,1,1725.55230,1,0,1,0,0
2,28,33.000,3,4449.46200,1,0,1,0,0
3,33,22.705,0,21984.47061,1,1,0,0,0
4,32,28.880,0,3866.85520,1,1,0,0,0

In [53]:
split=0.8
train_y=data['charges'][:int(split*len(data))]
train_x=data.drop('charges',axis=1)[:int(split*len(data))]

test_y=data['charges'][int(split*len(data)):]
test_x=data.drop('charges',axis=1)[int(split*len(data)):]

print(train_x.shape,train_y.shape,test_x.shape,test_y.shape)

(1069, 8) (1069,) (268, 8) (268,)

In [54]:
def hypothesis(x,w):
    return np.dot(x,w)

In [55]:
def loss_function(x,y,w):
    return np.mean((hypothesis(x,w)-y)**2)

In [56]:
def gradient(x,y,w):
    return np.dot(x.T,hypothesis(x,w)-y)/x.shape[0]

In [57]:
def gradient_descent(x,y):
    weight = np.zeros((x.shape[1], 1))
    learning_rate=0.03
    epochs=1000
    error_list=[]
    for i in range(epochs):
        error=loss_function(x,y,weight)
        error_list.append(error) 
        weight=weight-learning_rate*gradient(x,y,weight)
    return weight,error_list

In [58]:
weight,error_list=gradient_descent(train_x,train_y)

ValueError: Data must be 1-dimensional, got ndarray of shape (1069, 1069) instead